.logo {
    color: black;
    font-weight: bold;
}

.navbar {
    height: 70px;
}

.count {
    color: lightslategrey;
    font-weight: bold;
}

.dropdown-menu.show {
    display: block;
    margin-left: 77%;
}